<mat-toolbar color="my-primary">
    <mat-toolbar-row>
        <span>Register</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content>
    <form [formGroup] = "registerForm">
        <div class = "from-group">
            <mat-form-field appearance="outline">
                <mat-label>Username :</mat-label>
                <input matInput type="text" formControlName="username">
                <mat-error *ngIf="registerForm.controls.username.touched && registerForm.controls.username.invalid">
                 <span *ngIf="registerForm.controls.username.errors?.required">
                    This field is Mandatory.
                </span>
                <span *ngIf="registerForm.controls.username.errors?.pattern">
                    Invalid Username
                </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password :</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-error *ngIf="registerForm.controls.password.touched && registerForm.controls.password.invalid">
                 <span *ngIf="registerForm.controls.username.errors?.required">
                    This field is Mandatory.
                </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email :</mat-label>
                <input matInput type="text" formControlName="email">
                <mat-error *ngIf="registerForm.controls.email.touched && registerForm.controls.email.invalid">
                 <span *ngIf="registerForm.controls.email.errors?.required">
                    This field is Mandatory.
                </span>
                <span *ngIf="registerForm.controls.email.errors?.pattern">
                    Invalid Email
                </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>ContactNumber :</mat-label>
                <input matInput type="text" formControlName="contact">
                <mat-error *ngIf="registerForm.controls.contact.touched && registerForm.controls.contact.invalid">
                 <span *ngIf="registerForm.controls.contact.errors?.required">
                    This field is Mandatory.
                </span>
                <span *ngIf="registerForm.controls.contact.errors?.pattern">
                    Invalid Contact
                </span>
                </mat-error>
            </mat-form-field>

        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: center;">
    <button mat-raised-button color="my-primary" [disabled]="!(registerForm.valid && registerForm.dirty)" (click)="onRegister()">Register</button>
    <button mat-raised-button color="dialog-close" mat-dialog-close>Close</button>

</mat-dialog-actions>