<mat-toolbar color="my-primary">
    <mat-toolbar-row>
        <span>loginForm</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content>
    <form [formGroup] = "loginForm">
        <div class = "from-group">
           
            <mat-form-field appearance="outline">
                <mat-label>Email :</mat-label>
                <input matInput type="text" formControlName="email">
                <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
                 <span *ngIf="loginForm.controls.email.errors?.required">This field is Mandatory.</span>
                <span *ngIf="loginForm.controls.email.errors?.pattern">Invalid Email</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password :</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
                 <span *ngIf="loginForm.controls.username.errors?.required">This field is Mandatory.</span>
                </mat-error>
            </mat-form-field>

        </div>
    </form>

    <div class="forgot">
        <a mat-flat-button color="link" (click)="forgotPassword()" >Forgot Password</a>
        <a mat-flat-button color="link" (click)="changePassword()" >Change Password</a>
    </div>

</mat-dialog-content>
<mat-dialog-actions style="justify-content: center;">
    <button mat-raised-button color="my-primary" [disabled]="!(loginForm.valid && loginForm.dirty)" (click)="onLogin()">Register</button>
    <button mat-raised-button color="dialog-close" mat-dialog-close>Close</button>

</mat-dialog-actions>