.mat-my-primary{
    background-image: linear-gradient(to right, var(--orange), #fff);

}
.mat-my-primary1{
    background: var(--orange) !important;
    color: #fff !important
}
.mat-dialog-close{
    background: var(--light-color) !important;
}
mat-label{
    font-size: 16px;
    color: var(--orange)
}
mat-form-field{
    font-size: 15px;
    width: 100%;
    padding: 5px;
}
.forgot{
    text-align: left;
    font-size: 15px;
    padding-left: 1rem;
    color: var(--black);
}
